version: "{build}"

environment:
  matrix:
    - GENERATOR: "Visual Studio 15 2017"
      TOOLSET: v141
      BTOOLSET: 14.1
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2017"   
    - GENERATOR: "Visual Studio 11 2012"
      TOOLSET: v110
      BTOOLSET: 11.0
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 
      BOOST_BUILD: "1"
    - GENERATOR: "Visual Studio 14 2015"
      TOOLSET: v140
      BTOOLSET: 14.0
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2015"  
    - GENERATOR: "Visual Studio 12 2013"
      TOOLSET: v120
      BTOOLSET: 12.0
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 

build_script:
  - choco install wget unzip
  - wget -O boost_1_67_0.zip https://dl.bintray.com/boostorg/release/1.67.0/source/boost_1_67_0.zip
  - unzip boost_1_67_0.zip
  - cd boost_1_67_0/
  - ./bootstrap.bat
  - .\b2 -j8 -d0 --with-thread --with-filesystem --with-thread --with-system --with-date_time --with-chrono --with-regex --with-iostreams toolset=msvc-%BTOOLSET% architecture=x86 address-model=32  link=static runtime-link=static threading=multi
  - cd ../
  - set BOOST_ROOT=%APPVEYOR_BUILD_FOLDER%\boost_1_67_0\
  - ls %BOOST_ROOT%
  - git clone --recursive https://github.com/OlegJakushkin/ViZDoom oj
  - git clone --recursive https://github.com/mwydmuch/ViZDoom
  - cd ViZDoom
  - git checkout 1.1.5
  - copy /y ..\oj\CMakeLists.txt .\CMakeLists.txt
  - copy /y ..\oj\src\vizdoom\CMakeLists.txt .\src\vizdoom\CMakeLists.txt
  - copy /y ..\oj\src\vizdoom\src\CMakeLists.txt .\src\vizdoom\src\CMakeLists.txt
  - copy /y ..\oj\src\vizdoom\src\sc_man_scanner.h .\src\vizdoom\src\sc_man_scanner.h
  - copy /y ..\oj\src\vizdoom\src\viz_main.cpp .\src\vizdoom\src\viz_main.cpp
  - md build
  - cd build
  - set bld=%BOOST_ROOT%stage\lib\
  - ls %bld%
  - cmake -DBoost_LINK_DIR=%bld% -DBoost_INCLUDE_DIR=%BOOST_ROOT% -DNO_FMOD=ON -DNO_OPENAL=ON  -DNO_ASM=ON  -DBUILD_PYTHON=OFF -DBUILD_JAVA=OFF -DBUILD_LUA=OFF  ..
  - cmake --build . --config Release --target vizdoom
  - cmake --build . --config Debug --target libvizdoom_static
  - cd ../bin/
  - ren *.lib *d.lib
  - cd ../build/
  - cmake --build . --config Release --target libvizdoom_static
  - cd ../../
  - git clone --recursive https://github.com/opencv/opencv
  - cd opencv
  - git checkout 3.4.1
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_INSTALL_PREFIX=../ocv -DCMAKE_BUILD_TYPE="%CONFIGURATION%"  -DBUILD_DOCS=OFF  -DBUILD_opencv_world=ON -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF  -DBUILD_SHARED_LIBS=ON -DBUILD_DOCS=OFF -DBUILD_PERF_TESTS=OFF   ../
  - cmake --build . --config Debug --target INSTALL -- /verbosity:minimal
  - cmake --build . --config Release --target INSTALL -- /verbosity:minimal
  - cd ../../

after_build:
  - set zd=%APPVEYOR_BUILD_FOLDER%\zdoom\build
  - set vd=%APPVEYOR_BUILD_FOLDER%\ViZDoom
  - set cv=%APPVEYOR_BUILD_FOLDER%\opencv\ocv
  - set br=%BOOST_ROOT%
  - 7z a vizdoom.7z "%zd%" "%vd%" "%cv%*" "%br%" -xr!*.suo -xr!.git* -xr!lib64* -xr!libboost_wave* -xr!doc* -xr!libboost_test -xr!libboost_unit*

artifacts:
  - path: vizdoom.zip

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false
