version: "{build}"

environment:
  matrix:
    - GENERATOR: "Visual Studio 11 2012"
      CONFIGURATION: Debug
      TOOLSET: v110
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013"
      BOOST_BUILD: "1"
      BOOST_ROOT: "%APPVEYOR_BUILD_FOLDER%/boost_1_67_0/install-dir"
    - GENERATOR: "Visual Studio 11 2012"
      CONFIGURATION: Release
      TOOLSET: v110
      BOOST_ROOT: "%APPVEYOR_BUILD_FOLDER%/boost_1_67_0/install-dir"
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 
      BOOST_BUILD: "1"
    - GENERATOR: "Visual Studio 12 2013"
      CONFIGURATION: Debug
      TOOLSET: v120
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 
      BOOST_ROOT: C:\Libraries\boost
    - GENERATOR: "Visual Studio 12 2013"
      CONFIGURATION: Release
      TOOLSET: v120
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 
      BOOST_ROOT: C:\Libraries\boost
    - GENERATOR: "Visual Studio 14 2015"
      CONFIGURATION: Release
      TOOLSET: v140
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2015"
      BOOST_ROOT: C:\Libraries\boost_1_66_0
    - GENERATOR: "Visual Studio 14 2015"
      CONFIGURATION: Debug
      TOOLSET: v140
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2015"  
      BOOST_ROOT: C:\Libraries\boost_1_66_0
      
build_script:
  - ps: |
      if ($env:BOOST_BUILD -imatch "1") { 
          choco install wget unzip
          wget -O boost_1_67_0.zip https://dl.bintray.com/boostorg/release/1.67.0/source/boost_1_67_0.zip
          unzip boost_1_67_0.zip
          cd boost_1_67_0/
          ./bootstrap.bat
          .\b2 -j8 -d0 --with-thread --with-filesystem --with-thread --with-system --with-date_time --with-chrono --with-regex --with-iostreams --prefix="./install-dir" debug release install toolset=msvc-11.0 architecture=x86 address-model=32 threading=multi
          cd ../
      }
  - dir %BOOST_ROOT%
  - ls %BOOST_ROOT%
  - git clone --recursive https://github.com/rheit/zdoom
  - cd zdoom
  - git checkout 2.8.1
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_BUILD_TYPE="%CONFIGURATION%" ..
  - cmake --build . --config "%CONFIGURATION%" -- /verbosity:minimal
  - cd ../../
  - git clone --recursive https://github.com/mwydmuch/ViZDoom
  - cd ViZDoom
  - git checkout 1.1.5pre
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBOOST_ROOT="%BOOST_ROOT%" -DBoost_INCLUDE_DIR="%BOOST_ROOT%"   -DCMAKE_BUILD_TYPE="%CONFIGURATION%" -DBUILD_SHARED_LIBS=ON -DBUILD_PYTHON=OFF -DBUILD_JAVA=OFF -DBUILD_LUA=OFF ./../
  - cmake --build . --config "%CONFIGURATION%" --target libvizdoom_shared 
  - cd ../../
  - git clone --recursive https://github.com/opencv/opencv
  - cd opencv
  - git checkout 3.4.1
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_INSTALL_PREFIX=../ocv -DCMAKE_BUILD_TYPE="%CONFIGURATION%"  -DBUILD_DOCS=OFF  -DBUILD_opencv_world=ON -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF  -DBUILD_SHARED_LIBS=ON -DBUILD_DOCS=OFF -DBUILD_PERF_TESTS=OFF   ../
  - cmake --build . --config "%CONFIGURATION%" --target INSTALL -- /verbosity:minimal
  - cd ../../

after_build:
  - set zd=%APPVEYOR_BUILD_FOLDER%\zdoom
  - set vd=%APPVEYOR_BUILD_FOLDER%\ViZDoom
  - set cv=%APPVEYOR_BUILD_FOLDER%\opencv\ocv
  - 7z a vizdoom.zip "%zd%" "%vd%" "%cv%*"

artifacts:
  - path: vizdoom.zip

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false
