version: "{build}"

environment:
  matrix:
    - GENERATOR: "Visual Studio 14 2015"
      CONFIGURATION: Debug
      TOOLSET: v140
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2015"  
      BOOST_ROOT: C:\Libraries\boost_1_66_0
    - GENERATOR: "Visual Studio 12 2013"
      CONFIGURATION: Debug
      TOOLSET: v120
      APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013" 
      BOOST_ROOT: C:\Libraries\boost

      
build_script:
  - dir %BOOST_ROOT%
  - ls %BOOST_ROOT%
  - git clone --recursive https://github.com/rheit/zdoom
  - cd zdoom
  - git checkout 2.8.1
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" ..
  - cmake --build . --config Debug -- /verbosity:minimal
  - cmake --build . --config Release -- /verbosity:minimal
  - cd ../../
  - git clone --recursive https://github.com/mwydmuch/ViZDoom
  - cd ViZDoom
  - git checkout 1.1.5pre
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=TRUE -DBOOST_ROOT="%BOOST_ROOT%" -DBoost_INCLUDE_DIR="%BOOST_ROOT%"   -DCMAKE_BUILD_TYPE="%CONFIGURATION%" -DBUILD_STATIC_LIBS=ON -DBUILD_PYTHON=OFF -DBUILD_JAVA=OFF -DBUILD_LUA=OFF ./../
  - cmake --build . --config Debug --target libvizdoom_static
  - cmake --build . --config Release --target libvizdoom_static
  - ren ..\bin\*.lib ..\bin\*d.lib
  - cd ../../
  - git clone --recursive https://github.com/opencv/opencv
  - cd opencv
  - git checkout 3.4.1
  - md build
  - cd build
  - cmake -G "%GENERATOR%" -T "%TOOLSET%" -DCMAKE_INSTALL_PREFIX=../ocv -DCMAKE_BUILD_TYPE="%CONFIGURATION%"  -DBUILD_DOCS=OFF  -DBUILD_opencv_world=ON -DBUILD_EXAMPLES=OFF -DBUILD_TESTS=OFF  -DBUILD_SHARED_LIBS=ON -DBUILD_DOCS=OFF -DBUILD_PERF_TESTS=OFF   ../
  - cmake --build . --config Debug --target INSTALL -- /verbosity:minimal
  - cmake --build . --config Release --target INSTALL -- /verbosity:minimal
  - cd ../../

after_build:
  - set zd=%APPVEYOR_BUILD_FOLDER%\zdoom\build
  - set vd=%APPVEYOR_BUILD_FOLDER%\ViZDoom
  - set cv=%APPVEYOR_BUILD_FOLDER%\opencv\ocv
  - set br=%BOOST_ROOT%
  - 7z a vizdoom.7z "%zd%" "%vd%" "%cv%*" "%br%" -xr!*.suo -xr!.git* -xr!lib64* -xr!libboost_wave* -xr!doc* -xr!libboost_test -xr!libboost_unit*

artifacts:
  - path: vizdoom.zip

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false
